<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.ucm.fdi.animalcare">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/animal_pet"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/animal_pet_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AnimalCare">
        <receiver android:name=".feature.NewAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/new_app_widget_info" />
        </receiver>

        <activity android:name=".feature.user.UserActivity" />
        <activity
            android:name=".feature.password.PasswordActivity"
            android:parentActivityName=".feature.user.UserActivity"></activity>
        <activity android:name=".feature.settings.SettingsActivity" />
        <activity android:name=".feature.calendar.CalendarActivity"/>
        <activity android:name=".feature.upcoming.UpcomingActivity" />
        <activity
            android:name=".feature.newTask.NewTaskActivity"
            android:parentActivityName=".feature.upcoming.UpcomingActivity"></activity>
        <activity
            android:name=".feature.showTask.ShowTaskActivity"
            android:parentActivityName=".feature.upcoming.UpcomingActivity"></activity>
        <activity android:name=".feature.pets.PetsActivity" />
        <activity
            android:name=".feature.pets.newPets.NewPetsActivity"
            android:parentActivityName=".feature.pets.PetsActivity" />
        <activity
            android:name=".feature.pets.profilePet.ProfilePetActivity"
            android:parentActivityName=".feature.pets.PetsActivity" />
        <activity
            android:name=".feature.register.RegisterActivity"
            android:parentActivityName=".feature.login.LoginActivity" />
        <activity android:name=".feature.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feature.user.books.BooksActivity"
            android:parentActivityName=".feature.user.UserActivity" />
        <activity android:name=".base.BaseActivity" />

        <receiver android:name=".feature.newTask.AlarmBroadcastReceiver"/>
    </application>

</manifest>